html{
    height: 100%;
}
*{
    box-sizing: border-box;
}

body{
    margin: auto;
    padding: 0;
    box-sizing: border-box;
    background-color: rgb(201, 248, 248);
}

.city-container {
    border: 2px solid black;
    padding: 10px;
}

/* Add styles for the card container and cards */
.card-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.card {
    flex: 0 1 calc(20% - 20px);
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    padding: 16px;
    text-align: center;
    background-color: #f1f1f1;
    margin-bottom: 20px;
}

.card-title {
    font-size: 1.2em;
    margin-bottom: 10px;
}

.card-text {
    font-size: 0.9em;
}
